<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FacebookAuthorizeUrl"         value="https://www.facebook.com/dialog/oauth"/>
    <add key="FacebookTokenUrl"             value="https://graph.facebook.com/oauth/access_token"/>
    <add key="FacebookDefaultRedirectUrl"   value="https://www.facebook.com/connect/login_success.html"/>
  </appSettings>
</configuration>